.so-widget-sow-headline-default-32064b615d77 .sow-headline-container h2.sow-headline {
  text-align: left;
  color: #878787;
  line-height: 32px;
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container h2.sow-headline a {
  color: #878787;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container h2.sow-sub-headline {
  text-align: left;
  color: #fcb800;
  line-height: 40px;
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container h2.sow-sub-headline a {
  color: #fcb800;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-32064b615d77 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}